<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Storage System</title>
<title th:replace="header_link.html"></title>
<meta charset="utf8" />
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Main Header -->
		<div th:replace="header.html"></div>
		<!-- Left side column. contains the logo and sidebar -->
		<div th:replace="left_sidebar.html"></div>



		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Setting <small></small>
				</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/}"><i class="fa fa-dashboard"></i>Home</a></li>
					<li class="active">setting</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content container-fluid">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="box box-info">
							<div class="box-header with-border">
								<h3 class="box-title" th:text="#{profile.form.title}">公司信息设置</h3>
							</div>
							<!-- /.box-header -->
							<!-- form start -->
							<form class="form-horizontal" method="post"
								th:action="@{/setting/update}">
								<input type="text" th:if="${setting!=null}" name="id"
									hidden="true" th:value="${setting.id}">
								<div class="box-body">
									<div class="form-group">
										<label for="inputEmail3" class="col-sm-2 control-label"
											th:text="#{profile.form.companyName}">公司名称</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="companyname"
												placeholder="公司名称"
												th:value="${setting!=null}?${setting.companyname}">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.companyAddress}">公司地址</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="companyaddress"
												placeholder="公司地址"
												th:value="${setting!=null}?${setting.companyaddress}">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.postCode}">Post Code</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="postcode"
												placeholder="Post Code"
												th:value="${setting!=null}?${setting.postcode}">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.phone}">电话</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="phone"
												placeholder="电话"
												th:value="${setting!=null}?${setting.phone}">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.personalName}">个人名字</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="name"
												th:value="${setting!=null}?${setting.name}"
												placeholder="私人名称">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.businessHour}">营业时间</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="businesshours"
												th:value="${setting!=null}?${setting.businesshours}"
												placeholder="营业时间">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.description}">描述</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="description"
												th:value="${setting!=null}?${setting.description}"
												placeholder="描述">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.alipayURL}">支付宝 二维码地址</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="apliPayUrl"
												th:value="${setting!=null}?${setting.apliPayUrl}"
												placeholder="apliPayUrl" value="9">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.wechatPayUrl}">微信 二维码地址</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="wxPayUrl"
												th:value="${setting!=null}?${setting.wxPayUrl}"
												placeholder="apliPayUrl">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.personalWechatPayUrl}">个人微信二维码地址</label>

										<div class="col-sm-10">
											<input type="text" class="form-control" name="managerWeChatUrl"
												th:value="${setting!=null}?${setting.managerWeChatUrl}"
												placeholder="Manager WeChat Url">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label"
											th:text="#{profile.form.currencyRate}">汇率 </label>

										<div class="col-sm-10">
											<input step="0.01" type="number" class="form-control"
												name="currencyRate"
												th:value="${setting!=null}?${setting.currencyRate}"
												placeholder="汇率">
										</div>
									</div>
									<div class="form-group">
									<label class="col-sm-2 control-label"
											>货币显示: </label>

										<div class="col-sm-10">
										<label class="radio-inline">
										
										  <input type="radio" name="currencyDisplay" 
										  th:checked="${setting.currencyDisplay}==1?'true':'false'"   value="1">Pounds
										</label>
										<label class="radio-inline">
										  <input type="radio" name="currencyDisplay"  
										 th:checked="${setting.currencyDisplay}==2?'true':'false'" value="2"> RMB
										</label>
										</div>
									
									</div>

									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">vat-1
										</label>

										<div class="col-sm-10">
											<input th:if="vats!=null" name="vats[0].id" hidden=""
												th:value="${vats!=null}?${vats[0].id}"> <input
												step="0.01" type="number" class="form-control"
												name="vats[0].rate"
												th:value="${vats!=null}?${vats[0].rate}:'0'"
												placeholder="vat-1">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">vat-2
										</label>

										<div class="col-sm-10">
											<input th:if="vats!=null" name="vats[1].id" hidden=""
												th:value="${vats!=null}?${vats[1].id}"> <input
												step="0.01" type="number" class="form-control"
												name="vats[1].rate"
												th:value="${vats!=null}?${vats[1].rate}:'12.5'"
												placeholder="vat-2">
										</div>
									</div>
									<div class="form-group">
										<label for="inputPassword3" class="col-sm-2 control-label">vat-3
										</label>

										<div class="col-sm-10">
											<input  th:if="vats!=null" name="vats[2].id" hidden=""
												th:value="${vats!=null}?${vats[2].id}"> <input
												step="0.01" type="number" class="form-control"
												name="vats[2].rate"
												th:value="${vats!=null}?${vats[2].rate}:'20'"
												placeholder="vat-3">
										</div>
									</div>
								</div>

								<!-- /.box-body -->
								<div class="box-footer">
									<p th:if="${param.error!=null}" th:text="${param.error}"></p>
									<button type="submit" class="btn btn-info pull-right"
										th:text="#{common.confirm}">确定</button>
								</div>
								<!-- /.box-footer -->
							</form>
						</div>

					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->

		<div th:replace="footer.html"></div>



	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED JS SCRIPTS -->

	<!-- jQuery 3 -->
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap 3.3.7 -->
	<script
		th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/dist/js/adminlte.min.js}"></script>
	<script type="text/javascript" th:src="@{/dist/js/my_language.js}"></script>
	<script>
		
	</script>
	<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. -->
</body>
</html>